@model SistemaPeliculas.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<h2>Eliminar Usuario</h2>

<h4>¿Estás seguro que deseas eliminar este usuario?</h4>
<hr />
<div>
    <h4>@Model.Nombre</h4>
    <dl class="row">
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            Rol
        </dt>
        <dd class="col-sm-10">
            @(Model.Rol == 1 ? "Admin" : "Cliente")
        </dd>
    </dl>

    <form method="post" asp-action="EliminarUsuarioConfirmado">
        <!-- Asegúrate de que el Id se pase en un campo oculto -->
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a href="@Url.Action("Usuarios")" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
